<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CronPost - Your PIN has been Reset</title>
</head>
<body>
    <p>Hi {{ user_name }},</p>
    <p>Your PIN for your CronPost account ({{ user_email }}) has been reset by a system administrator.</p>
    <p>Your current PIN, PIN reminder question, and any unused recovery codes have been removed from your account. All settings that require a PIN have also been disabled for your security.</p>
    <p>The next time you need to use a PIN-protected feature, you will be prompted to create a new one.</p>
    <p>If you did not request this or have any concerns, please contact our support immediately.</p>
    <p>Thanks,<br>The CronPost Team</p>
</body>
</html>